<!-- footer start -->
<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="/">
                <img src="../../assets/img/logo.svg" alt="">
              </a>
            </div>
            <p>
              Firmament morning sixth subdue darkness
              creeping gathered divide.
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-twitter-alt"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h4 class="footer_title" style="margin-bottom: 12px;">
              Especialidades Comúnes
            </h4>
            <ul>
              <li><a href="#">Ópticas</a></li>
              <li><a href="#">Pediatría</a></li>
              <li><a href="#">Medicina General</a></li>
              <li><a href="#">Odontología</a></li>
            </ul>

          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Enlaces Útiles
            </h3>
            <ul>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a routerLink="/contact"> Contacto</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Dirección
            </h3>
            <p>
              Quito, Ecuador <br>
              +593 992563584 <br>
              scame@scame.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;{{year}} All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
